*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#topic{
  position:absolute;
  visibility: hidden;
}
.navbar{
  display: flex;
  height: 90px;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.95);
  justify-content: space-evenly;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: fixed;
  z-index: 2;
  transition: top 0.3s;
  padding-top:2px;
}
.navcomponents{
  color: white;
  margin-top: 36px;
  font-size: 22px;
}
.hiddennavbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 3;
  position: fixed;
  visibility: hidden;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hiddennavcomponents{
  height: 30px;
  width: 100px;
  background-color: black;
  color: white;
  border:0;
}
#backimg{
  height: 100vh;
  width:100vw;
  background-image: url(./assets/greenwallpaper.jpg);
  background-size:cover;
  background-position: center;
  background-color: black;
  position: fixed;
  z-index: -1;
}
#name{
  margin-right: 25vw;
  font-size:35px;
  font-weight: 500;
  margin-top: 26px;
}
#name:hover{
  box-shadow: inset 0px -4px rgba(109,26,54,0.9);
  transition-duration: 0.2s;
}
#articles{
  margin-left: 350px;
}
#articles:hover{
  box-shadow: inset 0px -4px rgba(109,26,54,0.9);
  transition-duration: 0.2s;
}
#posts:hover{
  box-shadow: inset 0px -4px rgba(109,26,54,0.9);
  transition-duration: 0.2s;
}
#merch:hover{
  box-shadow: inset 0px -4px rgba(109,26,54,0.9);
  transition-duration: 0.2s;
}
#aboutme:hover{
  box-shadow: inset 0px -4px rgba(109,26,54,0.9);
  transition-duration: 0.2s;
}
#dropdown{
  height: 30px;
  width: 30px;
  border: 0;
  background-color: rgba(100, 100, 100, 0);
  background-image: url(./assets/dropdown.png);
  background-size: contain;
  background-repeat: no-repeat;
  visibility: hidden;
}
#profilepic{
  margin-top: 135px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  background-image: url(./assets/profilepic.jpg);
  background-size: cover;
  background-position: center;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#textcontainer{
  width: 80vw;
  background-color: rgba(0,0,0, 0.5);
  margin-top: -140px;
  border-radius: 2%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22px;
}
#about{
  text-align: justify;
  margin: 50px 60px 60px 60px;
}
.sociallinks{
  display:inline-block;
}
#links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo{
  height: 60px;
  width: 40px;
  margin: 10px;
}
#youtube{
  width:44px;
  margin-top:14px;
}
#linkedin{
  margin-right: 30vw;
}
#gmail{
  width:44px;
}
#platforms{
  margin: 55px 71vw 0px 0px;
}
#email{
  width:auto;
  margin-right: 0;
  margin-left: 9px;
}
#latestblog{
  width: 35vw;
  background-color:rgba(255,255,255,1);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogheader{
  margin-top: 15px;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  font-family:cursive;
}
.blogtext{
  margin-top: 15px;
  color: black;
  text-align: center;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}
#randomblog{
  width: 35vw;
  background-color:rgba(255,255,255,1);
  border-radius: 3%;
  margin-left: 2vw ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#blogpost{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-right: 2vw;
}
#ruler{
  border-color: rgb(70, 69, 69);
}
#footerbar{
  height:155px;
  width:100vw;
  background-color: rgb(30, 29, 29);
  display: flex;
  flex-direction: row;
  justify-content:center;
}
#footerleft{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 55vw;
}
#footerright{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#poweredby{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#manage{
  margin-bottom: 25px;
}
#since2018{
  margin-bottom: 51px;
}
.footeritems{
  color: rgb(70, 69, 69);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  margin: 0px 0px 10px 2vw;
  font-size: smaller;
  font-weight: 300;
}
#ytlogo{
  margin-top: 75px;
  opacity: 0.3;
  margin-right: 5vw;
}
#backimg-article{
  width:100vw;
  background-image: url(./assets/articlebackground.jpg);
  background-size:contain;
  background-repeat: repeat;
  background-position: center;
  background-color: black;
  z-index: -1;
}
#articlecontainer{
  display: flex;
  margin-top: 110px;
  flex-direction: row;
  flex-wrap: wrap;
}
.articlebox:nth-child(odd){
  background-color: white;
  margin: 1.2vw;
  padding-right:3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.articlebox:nth-child(even){
  background-color: white;
  margin: 1.2vw;
  padding-left:3vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 95vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.articleheader{
  font-weight: 800;
  margin:1vw;
  font-family:cursive ;
  font-size: 20px;
}
.articletext{
  text-align: justify;
  margin: 1vw;
  font-size: 17px;
}
.articleboximage:nth-child(odd){
  margin: 35px 35px 35px 60px;
  background-color: white;
}
.articleboximage:nth-child(even){
  margin: 35px 60px 35px 35px;
  background-color: white;
}
#articleboximage1{
  background-image: url(./assets/articleboximage1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
}
#articleboximage2{
  background-image: url(./assets/articleboximage2.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}
#articleboximage3{
  background-image: url(./assets/articleboximage3.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 500px;
}
#articleboximage4{
  background-image: url(./assets/articleboximage4.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 300px;
}
.articlebox-textcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
.articlebutton{
  border:0;
  border: 2px solid rgb(10, 113, 141);
  padding: 5px;
  margin-bottom: 35px;
  color: rgb(10, 113, 141);
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.articlebutton:active{
  background-color: rgba(10, 113, 141, 0.1)
}
#backimg-merch{
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#merchcontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#merchtext{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#comingsoon{
  font-size: 70px;
}
#workprogresssection{
  height: 70px;
  display: flex;
  flex-direction: row;
}
#workprogress{
  font-size: 19px;
  margin: 25px 0 0 14px;
}
#workloadinglogo{
  height: 40px;
  width: 40px;
  background-image: url(./assets/merchloading.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 15px 0 0 5px;
  animation: loadinganim;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  box-sizing: border-box;
}
#merchlogo{
  height: 400px;
  width: 400px;
  background-image: url(./assets/merchlogo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes loadinganim {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}
#backimg-aboutme{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.55), rgba(255, 255, 255, 0)), url(./assets/aboutmebackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  position: fixed;
  z-index: -1;
}
#biography{
  color: white;
  font-size: 22px;
  margin: 130px 0 100px 60px;
  width: 60vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#aboutmelinks{
  font-size: 22px;
  color:white ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
  margin: 150px 0 0 100px;
  padding: 0;
  width: 600px;
}
.aboutmelogo{
  height: 60px;
  width: 40px;
  margin: 10px;
}
#am-youtube{
  width:44px;
  margin-top:14px;
}
#am-gmail{
  margin: 14px 0 0 0;
  width: 55px;
}
#am-email{
  width:auto;
  margin: -15px 0 100px 10px;
}










@media (max-width:1300px)
{
  #name{
    margin-right: 0vw;
    font-size:35px;
    font-weight: 500;
  }
  #articles{
    margin-left: 260px;
  }
  #footerleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 35vw;
  }
  #profilepic{
    height: 240px;
    width: 240px;
    margin-right: 7vw;
  }
  #linkedin{
    margin-right: 22vw;
  }
  #textcontainer{
    border-radius: 0;
    width: 88vw;
  }
  #gmail{
    margin-top: 15px;
  }
  #latestblog{
    width:38vw;
  }
  #randomblog{
    width:38vw;
  }
  #comingsoon{
    font-size: 65px;
  }
  #workprogresssection{
    height: 65px;
  }
  #workprogress{
    font-size: 18px;
    margin: 22px 0 0 12px;
  }
  #workloadinglogo{
    height: 38px;
    width: 38px;
  }
  #merchlogo{
    height: 380px;
    width: 380px;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -40px;
    border: 0;
    border-left: 70px solid black;
  }
}
@media (max-width:1100px)
{
  #name{
    margin-right: 0vw;
    font-size:35px;
    font-weight: 500;
  }
  #articles{
    margin-left: 150px;
  }
  #footerleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 15vw;
  }
  #profilepic{
    height: 200px;
    width: 200px;
    margin-right: 40vw;
    margin-top: 100px;
    position: relative;
    top:100px;
  }
  #linkedin{
    margin-right: 0vw;
  }
  #links{
    flex-wrap: wrap;
    height: 135px;
    width:360px;
    margin-left:370px;
  }
  .logo{
    height: 45px;
  }
  #platforms{
    margin-right: 0;
    margin-left: 8vw;
  }
  #textcontainer{
    font-size: 20px;
  }
  #latestblog{
    width:40vw;
  }
  #randomblog{
    width:40vw;
  }
  .blogtext{
    font-size: 20px;
  }
  .blogheader{
    font-size: 26px;
  }
  .articleboximage:nth-child(odd){
    scale: 0.9;
    margin: 40px 10px 10px 40px;
    background-color: white;
  }
  .articleboximage:nth-child(even){
    scale:0.9;
    margin: 40px 40px 10px 10px;
    background-color: white;
  }
  #comingsoon{
    font-size: 60px;
  }
  #workprogresssection{
    height: 60px;
  }
  #workprogress{
    font-size: 17px;
    margin: 20px 0 0 11px;
  }
  #workloadinglogo{
    height: 35px;
    width: 35px;
  }
  #merchlogo{
    height: 350px;
    width: 350px;
  }
  #biography{
    font-size: 20px;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -100px;
    border: 0;
    border-left: 150px solid black;
  }
  #aboutmelinks{
    font-size: 20px;
    margin: 10px 0 0 80px;
    width: 600px;
  }
}
@media (max-width:900px)
{
  #name{
    margin-right: 0vw;
    font-size:35px;
    font-weight: 500;
    margin-left: 2vw;
  }
  #articles{
    margin-left: 20px;
  }
  #footerleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0vw;
  }
  #profilepic{
    height: 180px;
    width: 180px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #about{
    margin: 40px 40px 40px 40px;
    text-align:justify;
  }
  #linkedin{
    margin-right: 0vw;
  }
  #links{
    margin-left:300px;
  }
  #platforms{
    margin-right: 0;
    margin-left: 2vw;
  }
  #blogpost{
    flex-direction: column;
    margin-left: 2vw;
    align-items: center;
  }
  #latestblog{
    width:84vw;
    margin-bottom: 15px;
  }
  #randomblog{
    width:84vw;
    margin-bottom: 15px;
    margin-right: 2vw;
  }
  #textcontainer{
    font-size: 20px;
  }
  .blogtext{
    font-size: 20px;
  }
  .blogheader{
    font-size: 26px;
  }
  .articleheader{
    font-weight: 800;
    margin:1vw;
    font-family:cursive ;
    font-size: 19px;
  }
  .articletext{
    text-align: justify;
    margin: 1vw;
    font-size: 16px;
  }
  .articleboximage:nth-child(odd){
    scale: 0.85;
    margin: 25px -5px -5px 5px;
    background-color: white;
  }
  .articleboximage:nth-child(even){
    scale:0.85;
    margin: 25px -5px -5px 5px;
    background-color: white;
  }
  #comingsoon{
    font-size: 50px;
  }
  #workprogresssection{
    height: 55px;
  }
  #workprogress{
    font-size: 15px;
    margin: 19px 0 0 9px;
  }
  #workloadinglogo{
    height: 32px;
    width: 32px;
  }
  #merchlogo{
    height: 320px;
    width: 320px;
  }
  #biography{
    color: white;
    font-size: 18px;
    margin: 120px 0 80px 40px;
    width: 60vw;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -90px;
    border-left: 120px solid black;
  }
  #aboutmelinks{
    font-size: 20px;
    margin: 10px 0 0 80px;
    width: 600px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px;
    scale:0.9;
    margin-left: 0;
  }
}
@media (max-width:800px)
{
  #name{
    margin-right: 0vw;
    font-size:28px;
    font-weight: 500;
  }
  .navcomponents{
    color: white;
    margin-top: 35px;
    font-size: 16px;
  }
  .navbar{
    height: 100px;
    margin-bottom: 0;
  }
  #articles{
    margin-left: 10px;
  }
  #footerleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 0vw;
  }
  #profilepic{
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  #about{
    margin: 40px 35px 40px 35px;
  }
  #linkedin{
    margin-right: 0vw;
  }
  #links{
    margin-left:300px;
  }
  #platforms{
    margin-right: 0;
    margin-left: 2vw;
  }
  #textcontainer
  {
    width: 90vw;
    font-size: 18px;
  }
  .blogtext{
    font-size: 18px;
  }
  .blogheader{
    font-size: 24px;
  }
  .logo{
    margin:5px;
  }
  #youtube{
    margin-top:11px;
  }
  .articleheader{
    font-weight: 800;
    margin:1vw;
    font-family:cursive ;
    font-size: 18px;
  }
  .articletext{
    text-align: justify;
    margin: 1vw;
    font-size: 15px;
  }
  .articleboximage:nth-child(odd){
    scale: 0.75;
    margin: 10px -15px -15px 0;
    background-color: white;
  }
  .articleboximage:nth-child(even){
    scale:0.75;
    margin: 10px -15px -15px 0;
    background-color: white;
  }
  #comingsoon{
    font-size: 40px;
  }
  #workprogresssection{
    height: 50px;
  }
  #workprogress{
    font-size: 13px;
    margin: 19px 0 0 5px;
  }
  #workloadinglogo{
    height: 26px;
    width: 26px;
  }
  #merchlogo{
    height: 260px;
    width: 260px;
  }
  #biography{
    color: white;
    font-size: 18px;
    margin: 120px 0 60px 30px;
    width: 62vw;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -70px;
    border-left: 100px solid black;
  }
  #aboutmelinks{
    font-size: 19px;
    margin: 10px 0 0 80px;
    width: 500px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px 0 10px 4px;
    scale:0.9;
  }
  #am-email{
    width:auto;
    margin: -15px 0 100px -1px;
  }
}
@media (max-width:650px)
{
  .navbar{
    height: 80px;
    margin-bottom: 0;
  }
  .navcomponents{
    margin-top: 22px;
    font-size: 15px;
  }
  #name{
    margin-top: 17px;
    font-size: 24px;
  }
  #articles{
    margin-left: 0;
  }
  #links a {
    scale: 0.8;
    margin-left: 0;
    margin-right: 0;
  }
  #links{
    height: auto;
  }
  .logo{
    height: 44px;
  }
  #email{
    height: 50px;
  }
  #profilepic{
    height: 160px;
    width: 160px;
    margin-bottom: 20px;
    margin-top: 50px;
    top:80px;
    margin-right: 47vw;
  }
  #name{
    margin-right: 0;
    margin-left: 0;
    font-size:24px;
    font-weight: 500;
  }
  #about{
    margin: 40px 25px 30px 25px;
  }
  #textcontainer
  {
    width: 94vw;
    font-size: 17px;
    margin-bottom: 20px;
  }
  #blogpost{
    margin-bottom:10px;
  }
  .blogtext{
    font-size: 16px;
  }
  .blogheader{
    font-size: 22px;
  }
  #footerbar{
    height:155px;
    width:100vw;
    flex-direction: row;
    justify-content:flex-start;
  }
  #footerleft{
    margin-right: 5vw;
  }
  .articleheader{
    color: white;
    text-shadow: 2px 2px black;
    font-weight: 800;
    margin:1vw;
    font-family:cursive ;
    font-size: 18px;
  }
  .articletext{
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: justify;
    margin: 1vw;
    font-size: 15px;
  }
  .articleboximage{
    position: absolute;
    visibility: hidden;
  }
  .articlebox-textcontent{
    width: 80vw;
  }
  #articlecontainer{
    margin-top: 96px;
  }
  #articlebox1{
    background-image: url(./assets/articleboximage1.jpg);
    background-size:cover;
    background-position: center;
  }
  #articlebox2{
    background-image: url(./assets/articleboximage2.jpeg);
    background-size:cover;
    background-position: center;
  }
  #articlebox3{
    background-image: url(./assets/articleboximage3.jpeg);
    background-size:cover;
    background-position: center;
  }
  #articlebox4{
    background-image: url(./assets/articleboximage4.jpeg);
    background-size:cover;
    background-position: center;
  }
  #comingsoon{
    font-size: 30px;
  }
  #workprogresssection{
    height: 40px;
  }
  #workprogress{
    font-size: 11px;
    margin: 19px 0 0 5px;
  }
  #workloadinglogo{
    height: 20px;
    width: 20px;
  }
  #merchlogo{
    height: 200px;
    width: 200px;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -100px;
    border-left: 150px solid black;
  }
  #biography{
    color: white;
    font-size: 16px;
    margin: 100px 0 40px 20px;
    width: 65vw;
  }
  #aboutmelinks{
    font-size: 19px;
    margin: 10px 0 0 50px;
    width: 500px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px 0 10px 4px;
    scale:0.8;
  }
  #am-email{
    width:auto;
    margin: -15px 0 80px -1px;
  }
}
@media (max-width:500px)
{
  .navbar{
    flex-direction: row;
    justify-content: flex-start;
    height: 65px;
    margin-bottom: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navcomponents{
    margin-top: 6px;
    font-size: 15px;
    height: 30px;
  }
  #aboutme{
    margin-right: 0;
    position: fixed;
    visibility: hidden;
  }
  #name{
    margin: 13px 8vw 5px 2vw;
    font-size: 24px;
  }
  #name:hover{
    box-shadow: inset 0px -4px rgba(109,26,54,0);
    transition-duration: 0.2s;
  }
  #articles{
    position: fixed;
    visibility: hidden;
  }
  #posts{
    position:fixed;
    visibility: hidden;
  }
  #merch{
    position: fixed;
    visibility: hidden;
  }
  .hiddennavbar{
    z-index: 3;
    top:63px;
    right:-2vw;
  }
  .hiddennavcomponents{
  padding: 10px 10px 0 15px;
  }
  #dropdown{
    visibility:visible;
    margin: 13px 0 0 0;
    position: fixed;
    right:4vw;
  }
  #platforms{
    margin-left: 0;
    margin-right:40px;
  }
  #links a {
    scale: 0.6;
    margin-left: 0;
    margin-right: 0;
  }
  #links{
    margin-left: 265px;
    height: auto;
  }
  #gmail{
    margin-left: 0;
    margin-right: 0;
    scale:0.8;
    margin-top:11px;
  }
  #linkedin{
    margin-top: 5px;
  }
  #youtube{
    margin-top:8px;
  }
  #profilepic{
    height: 130px;
    width: 130px;
    margin-bottom: 40px;
    margin-top: 40px;
    top:80px;
    margin-right: 54vw;
  }
  #about{
    margin: 20px 15px 20px 15px;
  }
  #textcontainer
  {
    width: 94vw;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
  }
  #blogpost{
    margin-bottom:10px;
  }
  .blogtext{
    font-size: 15px;
  }
  .blogheader{
    font-size: 20px;
  }
  #footerbar{
    flex-wrap: wrap;
    height:180px;
  }
  #footerleft{
    width:100vw;
    height:70px;
    margin-top: 20px;
  }
  #manage{
    margin-bottom: 0;
  }
  #since2018{
    margin-bottom: 0;
  }
  #ytlogo{
    margin-top: 17px;
    margin-bottom: 0;
    height: 60px;
  }
  #footerright{
    height:60px;
  }
  #articlecontainer{
    margin-top: 75px;
  }
  #comingsoon{
    font-size: 24px;
    z-index: 2;
  }
  #workprogresssection{
    height: 38px;
  }
  #workprogress{
    font-size: 13px;
    margin: 15px 0 0 3px;
  }
  #workloadinglogo{
    height: 16px;
    width: 16px;
  }
  #merchlogo{
    height: 200px;
    width: 200px;
    margin-left: -20px;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -100px;
    border-left: 150px solid black;
  }
  #biography{
    color: white;
    font-size: 15px;
    margin: 100px 0 40px 20px;
    width: 65vw;
  }
  #aboutmelinks{
    font-size: 21px;
    margin: 10px 0 0 30px;
    width: 500px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px 0 10px -3px;
    scale:0.7;
  }
  #am-youtube{
    width:44px;
    margin-top:14px;
  }
  #am-gmail{
    margin: 14px 0 0 0;
    width: 55px;
  }
  #am-email{
    width:auto;
    margin: -30px 0 80px -35px;
  }
}
@media (max-width:415px)
{
  .navbar{
    flex-direction: row;
    justify-content: flex-start;
    height: 50px;
    margin-bottom: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navcomponents{
    margin-top: 6px;
    font-size: 15px;
    height: 30px;
  }
  #name{
    margin: 13px 40vw 5px 2vw;
    font-size: 22px;
  }
  .hiddennavbar{
    z-index: 3;
    top:48px;
    right:-2vw;
  }
  .hiddennavcomponents{
  padding: 10px 10px 0 15px;
  }
  #dropdown{
    margin: 13px 0 0 0;
    scale:0.8;
  }
  #name:hover{
    box-shadow: inset 0px -4px rgba(109,26,54,0);
    transition-duration: 0.2s;
  }
  #platforms{
    margin-left: 0;
    margin-right:40px;
  }
  #links a {
    scale: 0.5;
    margin-left: 0;
    margin-right: 0;
  }
  .logo{
    visibility: visible;
    border:0;
  }
  #links{
    margin-left: 265px;
    height: auto;
  }
  #instagram{
    position: relative;
  }
  #facebook{
    position: relative;
    right: 10px;
  }
  #x{
    position: relative;
    right: 20px;
  }
  #youtube{
    position: relative;
    right: 30px;
  }
  #linkedin{
    position: relative;
    right: 40px;
  }
  #gmail{
    margin-left: 0;
    margin-right: 0;
    scale:0.8;
    margin-top:11px;
    position: relative;
    right:50px;
  }
  #email{
    position: relative;
    bottom: 20px;
  }
  #linkedin{
    margin-top: 5px;
  }
  #youtube{
    margin-top:8px;
  }
  .logo{
    bottom:10px;
  }
  #profilepic{
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
    margin-top: 30px;
    top:45px;
    margin-right: 57vw;
  }
  #about{
    margin: 0px 10px 20px 10px;
  }
  #textcontainer
  {
    width: 94vw;
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 15px;
  }
  #container{
    margin-top: 20px;
  }
  #blogpost{
    margin: 0;
  }
  .blogtext{
    font-size: 13px;
  }
  .blogheader{
    font-size: 17px;
  }
  #footerbar{
    flex-wrap: wrap;
    height:170px;
  }
  #footerleft{
    width:100vw;
    height:70px;
    margin-top: 20px;
    font-size: 13px;
  }
  #manage{
    margin-bottom: 0;
  }
  #since2018{
    margin-bottom: 0;
  }
  #ytlogo{
    margin-top: 7px;
    margin-bottom: 10px;
    height: 60px;
    scale:0.8
  }
  #footerright{
    height:50px;
    font-size: 13px;
  }
  .articleheader{
    font-weight: 800;
    margin:1vw;
    font-family:cursive ;
    font-size: 16px;
  }
  .articletext{
    text-align: justify;
    margin: 1vw;
    font-size: 13px;
  }
  #articlecontainer{
    margin-top: 60px
  }
  #comingsoon{
    font-weight: 500;
    font-size: 24px;
    z-index: 2;
  }
  #workprogresssection{
    height: 38px;
  }
  #workprogress{
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0 0 3px;
  }
  #workloadinglogo{
    height: 16px;
    width: 16px;
  }
  #merchlogo{
    height: 185px;
    width: 185px;
    margin-left: -50px;
  }
  #backimg-aboutme{
    background-position-y: center;
    background-position-x: right;
    right: -100px;
    border-left: 150px solid black;
  }
  #biography{
    color: white;
    font-size: 13px;
    margin: 65px 0 20px 10px;
    width: 70vw;
  }
  #aboutmelinks{
    font-size: 22px;
    margin: 0 0 0 20px;
    width: 400px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px 0 5px -5px;
    scale:0.65;
  }
  #am-youtube{
    width:44px;
    margin-top:14px;
  }
  #am-gmail{
    margin: 14px 0 0 -10px;
    width: 55px;
  }
  #am-email{
    width:auto;
    margin: -30px 0 40px -55px;
  }
}
@media (max-width:330px)
{
  .navbar{
    height: 40px;
  }
  .navcomponents{
    margin-top: 0px;
    font-size: 11px;
  }
  #aboutme{
    margin-right: 0;
  }
  #name{
    margin: 13px 40vw 5px 2vw;
    font-size: 19px;
  }
  #dropdown{
    margin: 6px 0 0 0;
    scale:0.6;
  }
  .hiddennavbar{
    z-index: 3;
    top:22px;
    right:-8vw;
    scale:0.8
  }
  #name:hover{
    box-shadow: inset 0px -4px rgba(109,26,54,0);
    transition-duration: 0.2s;
  }
  #platforms{
    margin-left: 0;
    margin-right:35px;
  }
  #links a {
    scale: 0.4;
    margin-left: 0;
  }
  .logo{
    visibility: visible;
    border:0;
  }
  #links{
    margin-left: 275px;
  }
  #instagram{
    position: relative;
  }
  #facebook{
    position: relative;
    right: 15px;
  }
  #x{
    position: relative;
    right: 30px;
  }
  #youtube{
    position: relative;
    right: 45px;
  }
  #linkedin{
    position: relative;
    right: 60px;
  }
  #gmail{
    margin-left: 0;
    margin-right: 0;
    scale:0.6;
    margin-top:11px;
    position: relative;
    right:75px;
  }
  #email{
    position: relative;
    bottom: 30px;
  }
  #linkedin{
    margin-top: 6.5px;
  }
  #youtube{
    margin-top:8px;
  }
  .logo{
    bottom:10px;
  }
  #profilepic{
    height: 80px;
    width: 80px;
    margin-bottom: 55px;
    margin-top: 20px;
    top:45px;
    margin-right: 61vw;
  }
  #about{
    margin: 0px 5px 10px 5px;
  }
  #textcontainer
  {
    width: 94vw;
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 5px;
  }
  #container{
    margin-top: 15px;
  }
  #blogpost{
    margin: 0;
  }
  .blogtext{
    font-size: 11px;
  }
  .blogheader{
    font-size: 15px;
  }
  #footerbar{
    flex-wrap: wrap;
    height:160px;
  }
  #footerleft{
    width:100vw;
    height:70px;
    margin-top: 10px;
    font-size: 11px;
  }
  #manage{
    margin-bottom: 0;
  }
  #since2018{
    margin-bottom: 0;
  }
  #ytlogo{
    margin-top: 7px;
    margin-bottom: 10px;
    height: 60px;
    scale:0.7
  }
  #footerright{
    height:50px;
    font-size: 11px;
  }
  .articleheader{
    font-weight: 800;
    margin:1vw;
    font-family:cursive ;
    font-size: 14px;
  }
  .articletext{
    text-align: justify;
    margin: 1vw;
    font-size: 11px;
  }
  #articlecontainer{
    margin-top: 40px;
  }
  #comingsoon{
    font-weight: 500;
    font-size: 20px;
    z-index: 2;
  }
  #workprogresssection{
    height: 38px;
  }
  #workprogress{
    font-size: 11px;
    font-weight: 500;
    margin: 15px 0 0 3px;
  }
  #workloadinglogo{
    height: 16px;
    width: 16px;
  }
  #merchlogo{
    height: 155px;
    width: 155px;
    margin-left: -45px;
  }
  #biography{
    color: white;
    font-size: 11px;
    margin: 60px 0 20px 10px;
    width: 80vw;
  }
  #aboutmelinks{
    font-size: 22px;
    margin: 0 0 0 20px;
    width: 400px;
  }
  .aboutmelogo{
    height: 60px;
    width: 40px;
    margin: 10px -5px 5px -5px;
    scale:0.55;
  }
  #am-linkedin{
    margin: 12px -5px 5px -5px;
  }
  #am-gmail{
    margin: 14px 0 0 -15px;
    width: 55px;
  }
  #am-email{
    width:auto;
    margin: -38px -20px 40px -68px;
  }
}